/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2016, 05:25:19 PM
    Author     : HMARTINEZ
*/

/*
CDN Boostrap
CSS
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
JS
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js

CDN JQUERY
https://code.jquery.com/jquery-2.2.1.min.js


*/


.main {
    
    background: rgba(125, 139, 160, 0.18);;
    min-height: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

.marco, .span8
{
   
   border: 1px solid gray;
   border-radius:3px;
   margin: 20px;
   padding: 5px;
}


.table-responsive{
    max-height: 314px;
    
}


textarea {
    resize: none;
}

.icon {
   margin: 3px; 

}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}


#msg {
    
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 2px;
    
}