<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
RewriteBase /facturasdinamicas
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^empresas/(.*)$ index.php?id=empresas
</IfModule>
