/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2016, 05:25:19 PM
    Author     : HMARTINEZ
*/

/*
CDN Boostrap
CSS
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
JS
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js

CDN JQUERY
https://code.jquery.com/jquery-2.2.1.min.js


*/


.main {
    
    background: gray;
    min-height: 10px;
    
}

.hola, .span8
{
   
   border: 1px solid red;
   border-radius:3px;
   margin: 5px;
   padding: 5px;
}