<div>
<a id="getCustomers">Get Customers</a>
<a id="getEmployees">Get Employees</a>
<a id="getAccounts">Get Accounts</a>
<a id="getSales">Get SalesReceipt</a>

</div>
<label>Selecciones el rango de fechas de las ventas</label><br>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group"> 
	<label for="fecha-box">Desde</label><input type="text" class="form-control" readonly id="fecha-from" />
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group"> 
	<label for="fecha-box">Hasta</label><input type="text" class="form-control" readonly id="fecha-to" />
</div>
<div class="data"></div>