<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://sandbox-quickbooks.api.intuit.com/v3/" qbo="https://sandbox-quickbooks.api.intuit.com/v3/" />
      </service>
      <logger>
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/IdsLogs" />
      </logger>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="" />
    <add key="AccessTokenSecret" value="" />
    <add key="ConsumerKey" value="qyprdnozTx9WhSwTVq1FQ5DDIdbCbk" />
    <add key="ConsumerSecret" value="cayXQhUWJjcmEt3ak9EYdS7JS8QkhoKmTaTG9UCm" />
    <add key="RealmID" value="123145759020422" />
  </appSettings>
</configuration>
