
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="../css/style.css" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<br>
<div class="container main">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"><label>empresa</label><select id="emp-box"></select></div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">  <input type="file" name="infile"/></div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 last"><div><label>tipo reprote</label><select id="emp-box"></select></div></div>
    </div>
    
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><label>productos</label></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><table width="100%" border="1" id="prod-table"><tr><td>hi</td></tr></table></div>
    </div>
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><label>Totales</label></div>
    </div>
    
    <div class="row hola">
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" readonly/></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" readonly/></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" readonly/></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><input type="text" readonly/></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><input type="submit"/></div>
    
    
</div>